.navigation {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

  
    .logo_container {
      height: 100%;
      width: 60px;
      padding: 25px;
      text-transform: uppercase;
      color: #000;
    }
    
  
    .nav_links_container {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  
     
    }
  }
  